body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #222;
  color: white;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

/* GRID 2x2 */
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px;
  justify-items: center;
}

/* CARD */
.card-thumbnail {
  width: 500px;
  height: 250px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card-thumbnail:hover {
  transform: scale(1.05);
}

.card-thumbnail img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 500px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.modal-content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 25px;
  cursor: pointer;
}

#modalPreco {
  color: green;
  margin-bottom: 10px;
}

